---
title: Default title
description: Default description
bodyId:
bodyClassNames:
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body id="<%= bodyId %>" class="the-layout <%= bodyClassNames %>">
  <%- include("../components/TheHeader.ejs", {props:{classNames: ""}}) %>
  <main>
    <%- content %>
    <%# test(buf) %>
  </main>
  <%- include("../components/TheFooter.ejs", {props:{classNames: ""}}) %>
  <script src="/js/script.js"></script>
</body>
</html>